<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lastwerewolf.projekt_ip">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ap_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MenuActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ColoursGameActivity" />
        <activity android:name=".dopasuj.DopasujLvl1Activity" />
        <activity android:name=".GameActivity" />
        <activity android:name=".CountingGameActivity"/>
        <activity android:name=".LevelFirstCountingGameActivity" />
        <activity android:name=".ResultActivity" />
        <activity android:name=".LevelSecondCountingGameActivity" />
        <activity android:name=".LevelThirdCountingGameActivity" />
        <activity android:name=".Level3CountingActivity"/>
        <activity
            android:name=".MemoGameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LevelsManagerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ColorsLevelsManagerActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".SettingsActivity"
            android:screenOrientation="portrait" ></activity>
    </application>

</manifest>